@import url(https://fonts.googleapis.com/css2?family=Inter&family=Nunito);

:root{
    /* CSS Variables */
    --bg: #fef5ee;
    --primary: #ffdf4f;
    --secondary: #f49268; 
    --accent-1: #02ffc4;
    --accent-2: #ff4c78;
}

[data-theme="dark"]{
    --bg: #1f1f1f;
    --text-color: white;
    --primary: #fa8d5e;
    --secondary: #ffdf4f;
    --accent-2: #e93769;
}

/* when the width of the page >= 600px... */
@media screen and (min-width: 600px) {
    div{
        margin-left: 24%;
        margin-right: 24%;
    }
}
a{
  color: var(--secondary);
  text-decoration: none;
}

.active{
  color: var(--accent-2);
}

body{
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    background-color: var(--bg);
    height: 100%;
    div{
      margin-left: 0%;
      margin-right: 0%;
    }
}

.hero{
  background-image: linear-gradient(rgba(254,245,238,0.55), rgba(254,245,238,0.835)), url(media/heroImage.jpg);
  height: 50%;
  padding: 25px;
  margin: 3%;
  border-radius: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

/* makes all headings & navbar elements lowercase */
h1, h2, h3, h4, h5, h6, nav, #pageLinks {
    text-transform: lowercase;
    text-align: center;
    color: var(--secondary);    
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 5%;
}

nav{
    background-color: var(--primary);
    position: relative;
    border-radius: 1rem;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: 500;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon{
      justify-self: flex-start;
    }
}
#hme-pg {
  font-weight: 900;
  font-size: x-large;
  order: 1;
}
#results{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg);
    padding: 5%;
    width: 63%;
    border: 5px solid var(--secondary);
    border-radius: 50px;

  }
}
#pageLinks{
  display: none;
  float: left;
  position: absolute;
  background-color: var(--primary);
  padding: 20px 16px;
  top: 6%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  a{
    display: block;
    padding: 3px 7px;
  }
}

form{
    margin-top: 5%;
    /* All input and text area elements within the form receive this styling */
    :is(input, textarea){
        width: 80%;
        padding: 1.5% 1.5%;
        margin: 2% 2%;
        background: transparent;
        border: 2px solid var(--primary);
        color: var(--text-color);
        border-radius: 9px;
    }
    :is(input[type=checkbox]){
        width: auto;
        margin: 15px;
    }
    :is(input[type=text], input[type=email], textarea):hover{
        border-width: 2px;
    }
    input[type=submit], input[type=reset]{
        width: 25%;
        background-color: var(--primary);
        color: var(--text-color);
        padding: 2%;
        margin-top: 5%;
    }
    input:hover, textarea:hover{
        border-color: var(--accent-2)
    }
    input[type=submit]:hover{
        background-color: var(--accent-2);
    }
    label{
        margin-left: 8%;
    }
}
p.center{
  text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-grid{
  display: flex;
  margin: 15px 2%;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-grid #frame-calc{
  margin: 0% 1%;
  padding: 0% 1%;
  flex-basis: 1500px;
}
.flex-grid #learn-mat{
  order: 1;
  margin: 0% 2%;
  padding: 0% 1%;
  div{
    margin: 0% 3%;
    p {
      margin: 2%;
    }
  }
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: var(--accent-2);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--accent-2);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(29px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #theme-chng{
    order: 2;
  }
